# From Mercurial project
tools
com.atlassian.connector.eclipse.releng/build
.*/bin
com.atlassian.connector.eclipse.monitor.server/.idea
com.atlassian.connector.eclipse.monitor.server/target/

mylyn/
connector-commons/

# Added
**/bin
**/.DS_Store

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath
